.div-1{
    background-color:cornflowerblue;
}
.div-2{
    background-color:deepskyblue;
}

.container{
    border: 2px solid black;
    /* limitar o tamanho do elemento */
    max-width: 400px;
    margin: 0 auto;
    /* possibilitar a flexibilidade dos nossos elementos filhos */
    display:flex;
}

.img-tamanho{
    width: 150px;
    height: 150px;
}

.alinhar-direita{
    display: flex;
    justify-content: right;
}
.alinhar-centro{
    display: flex;
    justify-content: center;
}

.alinhar-esquerda{
    display: flex;
    justify-content: left;
}

.alinhar-entre{
    display: flex;
    /* Aloca os elementos nas pontas e ajusta os elementos do centro */
    justify-content: space-between;
}
.alinhar-redor{
    display: flex;
    /* distribui os itens com espaço ao redor deles */
    justify-content: space-around;
}
.alinhar-coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quebra-linha{
    display: flex;
    /* Colocar espaços entre os elementos */
    gap: 10px;
    /* Quebrar os elementos para outra linha, caso não haja espaço suficiente */
    flex-wrap: wrap;
}