
* {
    margin: 0;
    padding: 0;
}
.body{
    /* Apliquei em todo o documento fonte, cor e cor fundo */
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-cinza-texto);
}
.cabecalho{
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid var(--cor-cinza-borda);
}
.logo{
    height: 5vh;
}
.container{
    /* Propriedade define a largura maxima que ele pode atingir */
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.navegacao{
    display: flex;
    gap: 30px;
    align-items: center;
}

.item{
    /* Remover decoração da tag a  */
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--cor-cinza-texto);
    /* Aplicando negrito */
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 3px solid transparent;
}
.item:focus,
.item:hover{
    color: var(--cor-cinza-texto);
    border-bottom-color: var(--cor-cinza-texto);
}

.buscar{
    padding: 10px;
    border: 1px solid var(--cor-cinza-borda);
    border-radius: 8px;
    width: 9rem;
}
.Localizacao{
    display: flex;
    align-items: center;
    font-weight: 500;
}

.texto-local{
    border: none;
    font-weight: 600;
    font-size: 0.8rem;
}
.acao{
    display: flex;
    align-items: center;
    gap: 14px;
}
.criar-conta{
    text-decoration: none;
    color: var(--cor-cinza-texto);
    font-weight: 600;
}

.botao-entrar{
    background-color: var(--cor-cinza-texto);
    color: var(--cor-fundo);
    border: 14;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}
.Participe{
    background-color:black;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 500px;
    text-decoration: none;
    cursor: pointer;
}

.logo{
    height: 70px;
}

.logos{
height: 3vh;
}