

.barra-navegacao{
    background-color: hotpink;
    color:deeppink;
    font-size: larger;
}
a{
    margin-left: 5px;
}
.link-login{
    margin-left: 150px;
}

.loja{
    background-color: lightpink;
    color:deeppink;
}

.img{
    width: 300px;
    height: 300px;
}
.longin{
    background-color: lightpink;
    margin: 10px 10px;
    color:deeppink;
}

.formulario{
    background-color: lightpink;
    width: 400px;
    margin: 0 auto;
    /* Alinha o conteudo interno, centraliza */
    text-align: center;
}
.input-nome{
    /* Remover as bordas */
    border:nome;
    /* Aplica curvatura no canto das bordas */
    border-radius: 2px;
    margin-left:10px;
    /* definir opacidade no campo texto */
    opacity: 70%;

}


.cabecalho{
    margin-left: 1000px;
}